<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Corona Virus Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" 
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
  </head>

  <body>
  
  <table>
      <tr>
        <th>States</th>
        <th>Country</th>
        <th>TotalCases</th>
      </tr>
      <tr th:each="cstats : ${stats}">
        <td th:text="${cstats.state}"></td>
        <td th:text="${cstats.country}"></td>
        <td th:text="${cstats.latestTotalCases}"></td>
      </tr>
    </table>
  
  </body>

</html>